@charset "UTF-8";
/*Typical devices breakpoints
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop :992px até 1200px
Grandes telas : acima de 1200px
*/
/*Tablet*/
@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to top ,#49a09d,#5f2c82);
    }
    section#telalogin{
        width: 70vw;
        height: 320px;
    }
    div#img{
        float: left;
        width: 35%;
        height: 100%;
    }
    div#formulario{
        float: right;
        width: 65%;
    }
    div#formulario h1{
        text-align: center;
        margin-bottom: 10px;
    }
    div#formulario p{
        font-size: 1.0em;
        margin-bottom: 7px;
    }
    span#emailicon{
        color: #49a09d;
        font-size: 18px;
    }
}
/*Desktop*/
@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to top ,#49a09d,#5f2c82);
    }
    section#telalogin{
        width: 930px;
        height: 350px;
    }
    div#img{
        float: right;
        width: 50%;
        height: 100%;
    }
    div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario h1{
        font-size: 2em;
        text-align: center;
        margin-bottom: 10px;
    }
    div#formulario p{
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    div.campo{
        margin-bottom: 10px;
    }
    div.campo input {
        width: 90%; /* Fiz o input ocupar toda a largura disponível */
        height: 40px; 
        padding: 10px; 
        border-radius: 5px; 
        border: 1px solid #ccc; /* Define a borda */
        box-sizing: border-box; /* Garante que o padding não extrapole o tamanho do input */
    }
    div.enviar{
        margin-top: 5px;
        text-align: center;
    }
    div.enviar input{
        width: 100%;
        border: 1px solid #49a09d ;
        border-radius: 15px;
        height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-variant: small-caps;
        background-color: #49a09d;
    }
    div.botao{
        text-align: center;
        border: 1px solid #49a09d;
        margin-top: 10px;
        border-radius: 5px;
        height: 30px;
    }
    div.botao a{
        text-decoration: none;
        font-size: 0.8em;
    }   
    div.botao a:hover{
        text-decoration: underline;
    }
    span#emailicon{
        color: #49a09d;
        font-size: 18px;
    }
}
